{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name curvecalc.core-test, :imports nil, :requires {curvecalc.autocurve.manipulations-test curvecalc.autocurve.manipulations-test}, :uses nil, :require-macros nil, :doc nil}